@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
main,
header,
.footer-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.color-primary {
  color: #ff5400;
}
.section-heading {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  width: 680px;
  margin: 0 auto;
}

.btn-primary {
  color: #fff;
  padding: 15px 34px;
  font-size: 1.25rem;
  border: 0;
  border-radius: 8px;
  background: #ff5400;
  cursor: pointer;
  transition: .5s;
}
.btn-primary:hover{
    background-color: #c14101;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.32);
}

/* Navigation styles */
.logo > a {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo .txt-mrgn {
  margin-left: 10px;
}
.logo img {
  width: 100%;
  margin-right: 16px;
}
nav {
  background-color: #fff;
  padding: 20px 0;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  font-size: 1.125rem;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #424247;
  transition: 0.3s;
}
.deskMenu {
  padding-left: 40px;
}
.mob-menu {
  padding-left: 20px;
}
nav a:hover {
  color: #ff5400;
}
nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.501);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100;
}
.sidebar a {
  width: 100%;
}

/* Hero section styles */

.hero-container {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/hero-banner.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-contents {
  margin-top: 106px;
}
.hero-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800px;
  margin-bottom: 16px;
}
.hero-txt {
  width: 680px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 48px;
}
.selector-form {
  margin-bottom: 106px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 24px;
}
.head-input,
select {
  padding: 16px 34px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: 174px;
  color: rgba(19, 19, 24, 0.5);
}

.btn-find .src-icn {
  margin-right: 8px;
}

/* Our popular tours */
.popular-sec-container {
  display: flex;
  margin: 100px 0;
  gap: 50px;
}
.popular-tour-description,
.popular-list {
  color: rgba(19, 19, 24, 0.7);
}
.text-side h3,
.text-side p,
.popular-list li {
  margin-bottom: 24px;
}
.text-side h3 {
  text-align: left;
}
.text-side {
  width: 50%;
}
.popular-list li {
  margin-left: 25px;
}
.img-side img {
  width: 100%;
}
.destination-container h3 {
  text-align: center;
  margin-bottom: 24px;
}
.destination-container p {
  margin-bottom: 48px;
}
.destination-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.destination-images h4 {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}
.destination-images img {
  width: 100%;
}

.destination-images h4 {
}
.img-card1 {
  position: relative;
}

.img-card1 h4 {
  position: absolute;
  top: 125px;
  left: 225px;
}

.img-card2 {
  position: relative;
}
.img-card2 h4 {
  position: absolute;
  top: 125px;
  left: 225px;
}
.img-card3 {
  position: relative;
  flex-shrink: 0;
}
.img-card3 h4 {
  position: absolute;
  top: 125px;
  left: 135px;
}
.img-card4 {
  position: relative;
}
.img-card4 h4 {
  position: absolute;
  top: 125px;
  left: 150px;
}
.img-card5 {
  position: relative;
}
.img-card5 h4 {
  position: absolute;
  top: 125px;
  left: 90px;
}
.img-card6 {
  position: relative;
}
.img-card6 h4 {
  position: absolute;
  top: 125px;
  left: 160px;
}
.img-card7 {
  position: relative;
}
.img-card7 h4 {
  position: absolute;
  top: 125px;
  left: 255px;
}
.why-choose-us {
  margin: 100px 0;
}

.card-container {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}

.card-heading {
  color: #131318;
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.card-description {
  color: #5a5a5d;
}
.card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px 55px 32px 32px;
}
.card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px 55px 32px 32px;
}
.card3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 32px 55px 32px 32px;
  width: 50%;
  margin: 24px auto;
}
.card-container img,
.card3 img {
  margin-bottom: 24px;
}
.newsletter {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.form {
  width: 70%;
  border-radius: 16px;
  border: 1px solid #ff5400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .img {
  width: 100%;
}
.img img {
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.newsletter-heading {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
  text-align: left;
}
.newsletter-description {
  color: #5a5a5d;
}
.newsletter-input {
  width: 100%;
  background-color: #1313180d;
  padding: 16px 0px 16px 20px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
}
.btn-subscribe {
  width: 100%;
}
.hr-line {
  margin: 24px 0;
}
footer {
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-logo {
  font-size: 2rem;
  color: #131318;
  font-weight: 800;
}
.footer-logo-wrapper {
  display: flex;
  margin-left: 10px;
  margin-bottom: 16px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 110px 0 ;
}
.footer-hr{
    width: 100%;
    max-width: 1170px;
    background: rgba(19, 19, 24, 0.10);
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    margin: 50px 0;
}

.footer-description{
    width: 100%;
   max-width: 770px;
   margin-bottom: 32px;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.img{
    position: relative;
}
.discount-badge{
    position: absolute;
    /* width: 324px;
    height: 120px; */
    background-color: #ff5400;
    border-radius: 16px;
    padding: 30px 20px ;
    text-align: center;
    z-index: 10;
    bottom: 10px;
    right: -15px;
    transform: rotate(340deg);
    transform-origin: bottom left ;
}
.discount-badge p{
    font-size: 1.5rem;
    color: #fff;
}
.discount-badge h3{
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
}
.book-now{
    margin: 100px 0;
}
.booking-cards{
    margin-top: 32px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.book-card1{
    border: 1px solid #ff5400;
    width: max-content;
    border-radius: 16px;
    padding: 24px;
    box-shadow: #1313180d;
    height: 450px;
    box-shadow: 1px 0px 10px 1px rgba(255, 68, 0, 0.32);
}
.star-rating{
    color: #ffcd05;
    padding: 8px 0;
}
.card-location{
    color: #ff5400;
    margin-bottom: 8px;
}
.travel-card-description{
    color: #424247;
    margin-bottom: 8px;
    max-width: 325px;
    width: 100%;
}
.card-price{
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
}
.book-card1 img{
    border-radius: 8px;
}
.btn-trip{
    width: 100%;
}
.view-all{
    margin-top: 24px;
    text-align: center;
    margin-bottom: 24px;
}


/* For mobile devices */
@media screen and (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .section-description {
    width: 100%;
  }

  .why-choose-us,
  .choose-your-destination {
    padding: 0 15px;
  }
  nav {
    padding: 15px;
  }
  .logo img {
    height: 35px;
    margin-right: 10px;
  }
  .logo {
    width: 200px;
  }
  .logo > a {
    font-size: 1.5rem;
  }
  nav a {
    padding: 0;
  }
  .sidebar {
    width: 75vw;
  }
  .ham > a {
    padding: 15px;
  }
  .hero-container {
    background-size: cover;
    background-position: center;
    margin: 0 15px;
  }
  .hero-contents {
    margin-top: 32px;
  }
  .selector-form {
    flex-direction: column;
  }
  .hero-title {
    font-size: 1.25rem;
  }
  .hero-txt {
    font-size: 14px;
    width: 80%;
  }
  .head-input,
  select {
    width: 255px;
  }
  .popular-sec-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
  .text-side {
    width: 100%;
  }
  .section-heading {
    font-size: 1.25rem;
  }
  .destination-images {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img-card1 h4 {
    top: 90px;
    left: 140px;
  }
  .img-card2 h4 {
    top: 90px;
    left: 140px;
  }
  .img-card3 h4 {
    top: 125px;
    left: 150px;
  }
  .img-card4 h4 {
    top: 95px;
    left: 100px;
  }
  .img-card5 h4 {
    top: 170px;
    left: 140px;
  }
  .img-card6 h4 {
    top: 110px;
    left: 120px;
  }
  .img-card7 h4 {
    top: 80px;
    left: 120px;
  }
  .why-choose-us {
    margin: 24px 0;
  }

  .card-container {
    flex-direction: column;
    margin-top: 16px;
  }
  .card3 {
    width: 100%;
  }
  .newsletter {
    flex-direction: column;
    margin: 0 15px;
  }
  .form {
    width: 100%;
  }
  .form-container {
    padding: 24px 0;
  }
  footer{
    margin-top: 24px;
  }
  .footer-wrapper{
    padding: 30px 15px;
  }
  .discount-badge{
    width: 100%;
    max-width: 215px;
  }

  .discount-badge p{
    font-size: 15px;
    color: #fff;
}
.discount-badge h3{
    font-size: 21px;
    color: #fff;
    font-weight: 800;
}
.booking-cards{
    flex-direction: column;

}
.book-now{
    margin: 0 15px;
}
}


/* For tablets */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .hideOnMobile {
    display: none;
  }
  .hero-container {
    background-size: cover;
    background-position: center;
    margin: 0 15px;
  }
  .hero-contents {
    margin-top: 32px;
  }
  .selector-form {
    flex-direction: column;
  }
  .hero-title {
    font-size: 1.25rem;
  }
  .hero-txt {
    font-size: 14px;
    width: 80%;
  }
  .head-input,
  select {
    width: 300px;
  }
  .popular-sec-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
  .section-heading {
    font-size: 1.5rem;
  }
  .section-description {
    width: 100%;
  }
  .text-side {
    width: 100%;
  }
  .destination-images {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-container {
    flex-direction: column;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .card3 {
    width: 100%;
  }
  .newsletter {
    flex-direction: column;
    margin: 0 15px;
  }
  .form {
    width: 100%;
  }
  .form-container {
    padding: 24px 0;
  }
}

/* For big screen */
@media screen and (min-width: 993px) {
  .hide-on-desktop {
    display: none;
  }
}
