@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.color-primary {
  color: #ff5400;
}
.section-heading {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  width: 680px;
  margin: 0 auto;
}

.btn-primary {
  color: #fff;
  padding: 15px 34px;
  font-size: 1.25rem;
  border: 0;
  border-radius: 8px;
  background: #ff5400;
  cursor: pointer;
}

/* Navigation styles */
.logo > a {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo .txt-mrgn {
  margin-left: 10px;
}
.logo img {
  width: 100%;
  margin-right: 16px;
}
nav {
  background-color: #fff;
  padding: 20px 0;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  font-size: 1.125rem;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #424247;
  transition: 0.3s;
}
.deskMenu {
  padding-left: 40px;
}
.mob-menu {
  padding-left: 20px;
}
nav a:hover {
  color: #ff5400;
}
nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.501);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100;
}
.sidebar a {
  width: 100%;
}

/* Hero section styles */

.hero-container {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/hero-banner.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-contents {
  margin-top: 106px;
}
.hero-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800px;
  margin-bottom: 16px;
}
.hero-txt {
  width: 680px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 48px;
}
.selector-form {
  margin-bottom: 106px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 24px;
}
input,
select {
  padding: 16px 34px;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  width: 174px;
  color: rgba(19, 19, 24, 0.5);
}

.btn-find .src-icn {
  margin-right: 8px;
}

/* Our popular tours */
.popular-sec-container {
  display: flex;
  margin: 100px 0;
  gap: 50px;
}
.popular-tour-description,
.popular-list {
  color: rgba(19, 19, 24, 0.7);
}
.text-side h3,
.text-side p,
.popular-list li {
  margin-bottom: 24px;
}
.text-side {
  width: 50%;
}
.popular-list li {
  margin-left: 25px;
}
.img-side img {
  width: 100%;
}
.destination-container h3 {
  text-align: center;
  margin-bottom: 24px;
}
.destination-container p {
  margin-bottom: 48px;
}
.destination-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.destination-images h4{
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
}
.img-card1{
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.img-card1 h4{
    position: absolute;
    top: 125px;
    left: 225px;
}

.img-card2{
    position: relative;
}
.img-card2 h4{
    position: absolute;
    top: 125px;
    left: 225px;
}
.img-card3{
    position: relative;
    flex-shrink: 0;
}
.img-card3 h4{
    position: absolute;
    top: 125px;
    left: 135px;
}
.img-card4{
    position: relative;
}
.img-card4 h4{
    position: absolute;
    top: 125px;
    left: 150px;
}
.img-card5{
    position: relative;
}
.img-card5 h4{
    position: absolute;
    top: 125px;
    left: 90px;

}
.img-card6{
    position: relative;
}
.img-card6 h4{
    position: absolute;
    top: 125px;
    left: 160px;

}
.img-card7 {
    position: relative;
}
.img-card7 h4{
    position: absolute;
    top: 125px;
    left: 255px;

}




/* For mobile devices */
@media screen and (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .section-description {
    width: 100%;
  }
  nav {
    padding: 15px;
  }
  .logo img {
    height: 35px;
    margin-right: 10px;
  }
  .logo {
    width: 200px;
  }
  .logo > a {
    font-size: 1.5rem;
  }
  nav a {
    padding: 0;
  }
  .sidebar {
    width: 75vw;
  }
  .ham > a {
    padding: 15px;
  }
  .hero-container {
    background-size: cover;
    background-position: center;
    margin: 0 15px;
  }
  .hero-contents {
    margin-top: 32px;
  }
  .selector-form {
    flex-direction: column;
  }
  .hero-title {
    font-size: 1.25rem;
  }
  .hero-txt {
    font-size: 14px;
    width: 80%;
  }
  .popular-sec-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
  .text-side {
    width: 100%;
  }
  .section-heading {
    font-size: 1.25rem;
  }
}

/* For tablets */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .hideOnMobile {
    display: none;
  }
  .hero-container {
    background-size: cover;
    background-position: center;
    margin: 0 15px;
  }
  .hero-contents {
    margin-top: 32px;
  }
  .selector-form {
    flex-direction: column;
  }
  .hero-title {
    font-size: 1.25rem;
  }
  .hero-txt {
    font-size: 14px;
    width: 80%;
  }
  .popular-sec-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
  .section-heading {
    font-size: 1.5rem;
  }
  .text-side {
    width: 100%;
  }
}

/* For big screen */
@media screen and (min-width: 993px) {
  .hide-on-desktop {
    display: none;
  }
}
